/* footer.css */

/* Footer Container */
footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

/* Footer Text */
footer p {
  font-size: 14px;
  color: #777;
}

/* Footer Link */
footer a {
  color: #777;
  text-decoration: none;
}

/* Footer Link Hover */
footer a:hover {
  color: #333;
}

